// COLOURS
$background-White: #F7F8FC;
$dashboard-Colour: #363740;
$header-colour: #252733;
$text-colour-1: #9FA2B4;
$border-colour-1: #DFE0EB;
$accent-colour: #3751FF;

// FONTS
$primary-Font: "muli", sans-serif;
$font-Bold: 700; 
$centre: center;

// MIXINS
@mixin margin-settings {
    margin: 5% 3%;
}

@mixin tab-settings {
    padding: 1%;
    margin: 1%;
}

@mixin tab2-settings {
    padding: 1%;
}

@mixin border-settings {
    border: solid 1px;
    border-color: $border-colour-1;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

@mixin Subheading-text {
    color: $text-colour-1;
    font-weight: $font-Bold;
}

@mixin Accent-hover {
    color: $accent-colour;
    transition: 0.5s ease-in-out;
}

@mixin Stat-text {
    color: $header-colour;
    font-weight: $font-Bold;
    font-size: 40pt;
}

$border-settings: solid 1px $border-colour-1;

body {
    width: 100vw;
    height: 100vh;
    font-family: $primary-Font;
    display: flex;
    flex-direction: row;
}

// BACKGROUND DISPLAYS
.dashboard-menu {
    width: 20vw;
    height: 100vh;
    background-color: $dashboard-Colour;
}

.overview-menu {
    width: 100vw;
    height: 100vh;
    background-color: $background-White;
    overflow-x: hidden;
}

.overview {
    width: 100vw;
    height: 5%;
    display: flex;
    flex-direction: row;
    margin: 3%;

    h4 {
        color: $header-colour;
        font-weight: $font-Bold;
    }
    .col-7 {
        padding-left: 50%;
        padding-top: 0.20%;
        img {
            padding: 5%;
        }
    }
    .col-5 {
        display: flex;
        flex-direction: row;
        margin-left: -2%;
        :first-child {
            padding-right: 2%;
        }
        p {
            padding: 1%;
        }
    }
}

// OVERVIEW PAGE

.overview-tabs {
    width: 100%;
    height: 15%;
    .row {
        width: auto;
        height: 100%;
        text-align: $centre;
        margin: 2% 2%;
        .col {  
            background-color: white;
            @include tab-settings();
            @include border-settings();
            h6 {
                @include tab-settings();
                @include Subheading-text();
                transition: 0.5s ease-in-out;
            }
            p {
                @include tab-settings();
                @include Stat-text();
                transition: 0.5s ease-in-out;
            }
        }
        :hover {
            border-color: #3751FF;
            transition: 0.5s ease-in-out;
            h6 {
                @include Accent-hover();
            }
            p {
                @include Accent-hover();
            }
        }
    }
}

.trending-menu {
    width: 94%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 7% 3%;
    @include border-settings();

    .trending-graph {
        text-align: left;
        width: 100%;
        height: 100%;
        border-right: $border-settings;
        padding: 3%;

        h5 {
            color: $header-colour;
            font-weight: $font-Bold;
        }
        .trending-image {
            margin-top: 10%;
            scale: 0.95;
        }
        .today-trends {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .col3 {
                width: 90%;
                height: 20%;
                p {
                    font-size: small;
                    color: $text-colour-1;
                }
                img {
                    transform: scale(1);
                    padding-left: 45%;
                }
            }
        }
    }

    .trending-stats { 
        width: 50%;
        height: 100%;
        :not(:last-child){
            border-bottom: $border-settings;
        }

        .col2 { 
            width: 100%;
            height: 20%;
            text-align: $centre;
            padding: 5%;
            background-color: white;
            h6 {
                @include Subheading-text();
                border-bottom: none;
            }
            p {
                color: $header-colour;
                font-weight: $font-Bold;
                font-size: 24pt;
            }
        }
    }
}


// BOTTOM GRAPHS
.bottom-graphs {
    width: 94%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -3% 3% 2%;

    .bottomgraph-1 {
        width: 48%;
        height: 50vh;
        background-color: white;
        @include border-settings();

        .header1 {
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: row;
            padding: 6% 5% 0%;

            h6 {
                width: 50%;
                height: 20%;
                color: $header-colour;
                font-weight: $font-Bold;
            }
            h7 {
                width: 50%;
                height: 20%;
                text-align: right;
                color: $accent-colour;
            }
        }

        p {
            font-size: smaller;
            width: 100%;
            padding: 0% 5% 1%;

            span {
                @include Subheading-text()
            }
        }

        .row.row-cols-2 {
            width: 102.5%;
            height: 75%;
            padding-left: 2%;

            .col {
                border-top: solid 1px $border-colour-1;
                padding-top: 3%;
            }

            :first-child {
                border-top: solid 1px white;
            }

            :nth-child(2) {
                border-top: solid 1px white;
            }

            :nth-child(even){
                text-align: right;
                @include Subheading-text();
            }
            :nth-child(odd){
                font-weight: $font-Bold;
            }
        }
    }

    .bottomgraph-2 {
        width: 48%;
        height: 50vh;
        background-color: white;
        @include border-settings();

        .header2 {
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: row;
            padding: 6% 5% 0%;

            h6 {
                width: 50%;
                height: 20%;
                color: $header-colour;
                font-weight: $font-Bold;
            }
            h7 {
                width: 50%;
                height: 20%;
                text-align: right;
                color: $accent-colour;
            }
        }

        p {
            font-size: smaller;
            width: 100%;
            padding: 0% 5% 1%;
            color: $text-colour-1;
        }

        .row.row-cols-2 {
            width: 102.5%;
            height: 75%;
            padding-left: 2%;

            .col {
                border-top: solid 1px $border-colour-1;
                padding-top: 3%;
                font-weight: 600;
            }

            :first-child {
                color: $header-colour;
                border-top: none;
                span {
                    padding: 1%;
                    color: $text-colour-1;
                }
            }

            :nth-child(2) {
                border-top: none;
            }

            :nth-child(even){
                text-align: right;
            }

            :nth-child(4){
                button {
                    width: 30%;
                    height: 60%;
                    background-color: #FEC400;
                    border: none;
                    border-radius: 8px;
                }
                span {
                    font-size: smaller;
                    font-weight: 600;
                    padding: 1%;
                    color: white;
                }
            }

            :nth-child(6){
                button {
                    width: 25%;
                    height: 60%;
                    background-color: #29CC97;
                    border: none;
                    border-radius: 8px;
                }
                span {
                    font-size: smaller;
                    font-weight: 600;
                    padding: 1%;
                    color: white;
                }
            }
            
            :nth-child(8){
                button {
                    width: 40%;
                    height: 60%;
                    background-color: #F0F1F7;
                    border: none;
                    border-radius: 8px;
                }
                span {
                    font-size: smaller;
                    font-weight: 600;
                    padding: 1%;
                    color: $text-colour-1;
                }
            }
        }
    }
}

// DASHBOARD BUTTONS
  .dashboard-menu {
    width: 15vw;
    height: 100vh;
    background-color: #363740;
  }

  .logo {
    padding: 25px 10px 30px 25px;
    display: flex;

    h5 {
        font-size: 19px;
        color:#A4a6b3;
        padding-top: 6px;
        padding-left: 6px;
      }
  }

  h4 {
    color: #252733;
    font-weight: 700;
    margin: 2% 3%;
  }

  .nav-item a{
    color: #A4A6B3;
    padding-left: 2px;
    display: flex;
    padding-left: 25px;
    padding-top: 18px;
    height: 55px;
  }

  .nav-item a h5{
    font-size: 16px;
    padding-left: 10px;
  }

  .nav-item:hover{
    background-color: rgba(255,255,255,0.1);
    border-left: white 2px solid;
    height: 55px;
  }

  .nav-item:nth-child(6):hover {
    margin-bottom: 11.30%;
  }

  .nav-item a:hover{
    color: #DDE2FF;
  }

  svg:hover {
    color: #DDE2FF;
  }

  .overview-tabs {
    width: 100%;
    height: 15%;
  }

  .overview-tabs .row {
    width: auto;
    height: 100%;
    text-align: center;
    margin: 2% 2%;
  }

  .overview-tabs .row .col {
    background-color: white;
    padding: 1%;
    margin: 1%;
    border: solid 1px;
    border-color: #DFE0EB;
    border-radius: 15px;
  }

  .overview-tabs .row .col h6 {
    padding: 1%;
    margin: 1%;
    color: #9FA2B4;
    font-weight: 700;
  }

  .overview-tabs .row .col p {
    padding: 1%;
    margin: 1%;
    color: #252733;
    font-weight: 700;
    font-size: 40pt;
  }
  .overview-tabs .row :hover {
    border-color: #3751FF;
    transition: 0.5s;
  }
  .overview-tabs .row :hover h6 {
    color: #3751FF;
    transition: 0.5s;
  }
  .overview-tabs .row :hover p {
    color: #3751FF;
    transition: 0.5s;
  }